# DATABASE CONFIG
export DB_ENGINE=
export DB_HOST=
export DB_USER=
export DB_PASSWORD=
export DB_NAME=
export DB_PORT=5432

# APP CONFIG
export APP_NAME=
export APP_PORT=
export APP_HOST=
export APP_DEBUG=false

# STARK_BANK CONFIG
export STARK_BANK_PRIVATE_KEY=
export STARK_BANK_PUBLIC_KEY=

# INVOICE
export INVOICE_CREATE_CRON_INTERVAL=