export APP_ENV=

export API_PORT=

export CLOCK_LOCATION=

export INVOICE_EXPIRATION_DAYS=
export INVOICE_RANDOM_INVOICES_NUMBER_MIN=
export INVOICE_RANDOM_INVOICES_NUMBER_MAX=

export BANK_ACCOUNT_NAME=
export BANK_ACCOUNT_TAX_ID=
export BANK_ACCOUNT_BANK_CODE=
export BANK_ACCOUNT_BRANCH_CODE=
export BANK_ACCOUNT_ACCOUNT_NUMBER=
export BANK_ACCOUNT_ACCOUNT_TYPE=

export STARKBANK_PROJECT_ID=
export STARKBANK_PUBLIC_KEY=
export STARKBANK_PRIVATE_KEY=
export STARKBANK_ENVIRONMENT=
export STARKBANK_DIGITAL_SIGNATURE_HEADER=

export SCHEDULER_ENABLED=
export INVOICE_CREATE_SCHEDULED_TIME= # Ex.: @every 3h

source .env