export APP_ENV=

export API_PORT=

export CLOCK_LOCATION=

export STARKBANK_PROJECT_ID=
export STARKBANK_PUBLIC_KEY=
export STARKBANK_PRIVATE_KEY=
export STARKBANK_ENVIRONMENT=

export SCHEDULER_ENABLED=
export INVOICE_CREATE_SCHEDULED_TIME= # Ex.: @every 3h

source .env